@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,400i');

html {
  font-size: 16px;
}

code, code > * {
  font-family: 'Fira Mono', monospace;
}

pre {
  margin: 2rem 0;
}

html > * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

p, ul, ol {
  line-height: 1.9rem;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

table {
  font-size: 1.1rem;
}

h1, h2, h3, h4 {
  font-family: "Fira Sans", "Helvetica", sans serif;
  font-weight: 400;
  color: #777;
}

h1.title {
    font-size: 3rem;
    border-bottom: 2px solid #e3e7e7;
    margin-bottom: 25px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75rem;
}

pre > code {
  font-size: 1.25rem;
}

.caption {
  text-align: center;
  font-size: 1rem;
  color: #777;
}

.muted {
  color: #777;
}
.pkg {
  color: #53804d;
  font-weight: 300;
  font-size: 95%;
  font-family: 'Fira Mono', monospace;
  padding: 1px 4px;
  background-color: #eff4ef;
  border-radius: 4px;
  border: 1px solid #82c878;
}

.hl {
  background-color: rgba(255, 255, 0, 0.5);
  padding: 1px 4px;
}
::-moz-selection {
  background-color: rgba(255, 255, 0, 0.5);
}

::selection {
  background-color: rgba(255, 255, 0, 0.5);
}

blockquote {
  background-color: #f9f9f9;
}
.sourceCode {
  overflow-x: scroll;
}

a {
  color: #eb1455;
}
a:hover, a:focus {
  color: #eb1455;
  text-decoration: underline;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #58b0e3;
}

.tocify .list-group-item {
  border-radius: 0px;
  text-indent: -10px;
  padding-left: 20px;
  padding-right: 10px;
}

kbd {
padding:0.1em 0.6em;
border:1px solid #ccc;
font-family:Arial,Helvetica,sans-serif;
font-family:"IBM Plex Mono",monospace;
background-color:#f7f7f7;
color:#333;
-moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
display:inline-block;
margin:0 0.1em;
text-shadow:0 1px 0 #fff;
line-height:1.4;
white-space:nowrap;
}

.menu-item {
  background-color: #f0f0f0;
  border-color: #c2c2c2;
  font-size: 0.9em;
  padding: 4px 6px;
  border: 1px solid #c2c2c2;
  white-space: nowrap;
}
.menu-item.selected {
  background-color: #d1e2f2;
  padding: 3px 5px;
  outline: 1px solid #c2c2c2;
  border: 2px solid #78aee5;
}
.rstudio-tab {
  background: #f4f8f9;
  padding: 5px 8px;
  border: 2px solid #d6dadc;
  border-bottom: none;
  font-weight: bold;
  border-radius: 7px 7px 0px 0px;
  font-size: 0.90em;
}

.img-inline {
  max-height: 25px;
}

.img-center {
  width: 100%;
  text-align: center;
}

.img-mw500 {
  max-width: 500px;
}

/* ---- Navbar ---- */
ul.nav.navbar-nav.navbar-right {
  font-size: 1rem;
}
.nav.navbar-nav {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.navbar-default {
  background-color: #00589a;
  border-color: #2e76ac;
}
.navbar-default .navbar-brand {
  color: #fafafa;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #4585b50;
}
.navbar-default .navbar-text {
  color: #fafafa;
}
.navbar-default .navbar-nav > li > a {
  color: #fafafa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #2e76ac;
  color: #FFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #2e76ac;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #2e76ac;
  color: #FFF;
}
.navbar-default .navbar-toggle {
  border-color: #2e76ac;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2e76ac;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fafafa;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fafafa;
}
.navbar-default .navbar-link {
  color: #fafafa;
}
.navbar-default .navbar-link:hover {
  color: #58b0e3;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #58b0e3;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #58b0e3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fafafa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #58b0e3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #58b0e3;
    background-color: #2e76ac;
  }
}
